.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.discription {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 18px;
    color: hsl(224, 23%, 55%);
}

.plan {
    display: flex;
    flex-direction: row;
    background-color: hsl(225, 100%, 98%);
    width: 275px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
}

.music {
    width: 45px;
    height: 45px;
    padding-top: 10px;
    padding-right: 10px;
}

.change {
    padding-left: 70px;
    padding-top: 10px;
}
/*
.annual {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
*/
p {
   line-height: 5px; 
}

.price {
    color: hsl(224, 23%, 55%);
}

.hero {
    width: 300px;
    border-radius: 20px 20px 0 0 ;
}

body {
    background-color: hsl(225, 100%, 94%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 300px;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
}

.payment {
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 40px;
    width: 250px;
    color: white;
    background-color:hsl(228, 45%, 44%);
    border-radius: 5px;
    border: none;
}

.payment:hover {
    background-color: hsl(223, 47%, 23%);
}

.cancel {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 25px;
    margin-bottom: 15px;
}

.cancel:hover {
    background-color: hsl(224, 23%, 55%);
}